@{
    ViewData["Title"] = "Home Page";
}



<div class="row" style="text-align:center" >
    <div class="col-md-3" >
        <h2>Log in:</h2>
        <table>
            <tr>
                <td>
                    <label for="uname"><b>Username</b></label>
                </td>
                <td>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                </td>
                
            </tr>
          
            <tr>
                <td>
                    <label for="psw"><b>Password</b></label>
                </td>
                <td> 
                    <input type="password" placeholder="Enter Password" name="psw" required>
                </td>
            </tr>

            <tr>
                <td>
                    <button type="submit">Login</button>
                </td>
            </tr>
            
            
        </table>
    </div>
    
   
</div>
