@{
    ViewData["Title"] = "Home Page";
}




        <div class="text-center">
            <h2>Log in</h2>
        </div>
        <table align="center">
            <tr>
                <td>
                    <label for="uname"><b>Username</b></label>
                </td>
                <td>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                </td>
                
            </tr>
          
            <tr>
                <td>
                    <label for="psw"><b>Password</b></label>
                </td>
                <td> 
                    <input type="password" placeholder="Enter Password" name="psw" required>
                </td>
            </tr>

            <tr>
                <td align="center">
                    <button type="submit">@Html.ActionLink("Login","Index","Chat")</button>
                </td>
            </tr>
            
            
        </table>
  
