@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/MyChat.js"></script>
    <script src="~/Scripts/MyScript.js"></script>
    <script src="~/signalr/hubs"></script>
}

<style>
    body {
        background: linear-gradient(45deg, rgba(188,235,183,1) 2%, rgba(188,235,183,1) 10%, rgba(96,202,209,1) 32%, rgba(33,180,226,1) 47%, rgba(113,206,239,1) 68%);
        width: initial;
        height: initial;
        background-size: cover;
    }

    .over {
        position: absolute;
        background-color: rgba(213, 201, 246, 0.32);
    }

    .col-md-2 {
        background-color: rgba(89, 220, 196, 0.31);
    }

    .col-md-7 {
        width: 60%;
    }

    .tblAll {
        border: 2px solid black;
        width: 100%;
        height: 90%;
    }

    td {
        border: 2px solid black;
        justify-content: flex-end;
    }

    .headingsrow {
        align-content: center;
        align-items: center;
        text-align: center;
        font-family: Broadway;
        font-size: 40px;
        font-style: italic;
        text-decoration: underline;
    }

    .better-scrollbar {
        overflow-x: hidden;
        overflow-x: auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        font-style: italic;
    }

    .chatBox {
        align-content: center;
        align-items: center;
        text-align: center;
    }

    .rooms {
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        font-style: italic;
        margin-top: 0%;
    }

    .chat-body {
        text-align: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        font-style: italic;
    }

    #joinedRoom {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        font-style: italic;
    }

    input {
        border: 2px solid;
        border-radius: 50px;
        text-align: center;
        margin-bottom: 5%;
        width: 60%;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        background-color: #fff;
        box-shadow: 0 0 40px 20px #fff, 0 0 20px 10px #f0f, 0 0 40px 20px #0ff;
    }

    button {
        border-radius: 30%;
        text-align: center;
        border: 2px solid;
    }

    #create-room-modal {
        text-align: center;
        border: 3px solid;
        margin-top: 0%;
        height: 150px;
    }


    #errorAlert {
        text-align: center;
        color: darkred;
        font-size: larger;
    }

    .admin {
        background-color: red;
    }
</style>


<div class="alert alert-dismissible alert-warning hidden" id="errorAlert">
    <p data-bind="text:serverInfoMessage"></p>
</div>

<div>
    <table class="tblAll">
        <tr class=" headingsrow">
            <td class="lobbyH">
                <div class="header">
                    <h5>Chat Rooms</h5>
                    <a href="#" id="create-room" data-toggle="modal" data-target="#create-room-modal"><span class="glyphicon glyphicon-plus"></span></a>
                </div>
            </td>
            <td class="chatH">
                <div class="user">
                    <div class="user-avatar">
                        <img class="avatar-icon2" src="~/Content/icons/avatar1.png" data-bind="attr: { src: myAvatar() }" />
                    </div>
                    <div class="user-name">
                        <a href="#" data-bind="text: myName"></a>
                    </div>
                    <div class="user-signout">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()" title="Sign Out"><span class="glyphicon glyphicon-log-out"></span></a>
                        }
                    </div>
                </div>
            </td>
            <td class="UserH">
                <div class="header">
                    <h5>Who's Here (<span data-bind="text: filteredChatUsers().length">0</span>)</h5>
                </div>
            </td>

        </tr>

        <tr class="bodyr">
            <td>
                <div class="rooms">

                    @if (ViewBag.IsAdminUser) {
                    <!-- CREATE ROOM MODAL -->
                    <div class="modal" id="create-room-modal">

                        <h4 class="modal-title">Create Room</h4>
                        <input type="text" class="form-control" id="roomName" placeholder="Room name">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: createRoom">Create</button>
                    </div>
                    }

                    <div>
                        <ul id="room-list" data-bind="foreach: chatRooms">
                            <li><a href="#" data-bind="text: $data.name, clickLink: joinRoom"></a></li>
                        </ul>
                    </div>
                </div>

            </td>

            <td>
                <div class="chatBox">
                    <div class="chat-header">
                        <h5 id="joinedRoom">Lobby</h5>
                        <button data-toggle="modal" data-target="#remove-room-modal" class="btnDeleteRoom glyphicon glyphicon-remove"></button>
                    </div>

                    <div class="chat-body better-scrollbar">
                        <ul data-bind="foreach: chatMessages">
                            <li>
                                <div class="chat-message" data-bind="css: $data.isMine() === true ? 'ismine' : 'isother'">
                                    <div class="left-side">
                                        <img src="~/Content/icons/avatar1.png" class="message-avatar" data-bind="attr: { src: $data.avatar }" />
                                    </div>
                                    <div class="message-content" data-bind="css: { admin: $data.isAdmin }">
                                        <span class="author" data-bind="text:$data.from"></span>
                                        <span class="timestamp">
                                            <i class="glyphicon glyphicon-time"></i>
                                            <span data-bind="text:$data.timestamp"></span>
                                        </span>
                                        <span class="content" data-bind="html:$data.content"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="chat-input">
                        <input id="chat-message" type="text" value="" data-bind="value:message, valueUpdate: 'afterkeydown', event: { keypress: onEnter }" placeholder="What's on your mind?" />
                    </div>
                </div>
            </td>

            <td>
                <div class="chat-users better-scrollbar">
                    <ul id="user-list" data-bind="foreach: filteredChatUsers">
                        <li>
                            <div class="user-inner">
                                <div class="left-side">
                                    <img src="~/Content/icons/avatar1.png" data-bind="attr: { src:$data.avatar }" class="user-avatar" />
                                </div>
                                <div class="right-side">
                                    <input type="hidden" class="username" data-bind="value:$data.userName" />
                                    <span class="author" data-bind="text: $data.displayName"></span>
                                    <small data-bind="text: $data.device"></small>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="search-user">
                    <input type="text" class="" placeholder="Search someone..." data-bind="value: filter, valueUpdate: 'afterkeydown'" />
                </div>
            </td>

        </tr>
    </table>
</div>




